
  .footer-box {
    width: 948px;
    margin: auto;
    padding: 0;
  
      
    &__logo {
      width: 100%;
      border-bottom: 1px solid $uber-footer-line-color;
      padding-bottom: 40px;
    }
  
    &__logo a {
      display: flex;
      justify-content: start;
      background: url("./images/icons/white-logo.svg") no-repeat center;
      -webkit-background-size: contain;
      background-size: contain;
      width: 200px;
      height: 40px;
    }
  
    &__controls {
      display: grid;
      grid-template-columns: repeat(3, 306px);
      grid-column-gap: 16px;
      justify-content: center;
      padding: 30px 0 25px;
      border-bottom: 1px solid $uber-footer-line-color;
    }
    
    &__nav {
      display: block;
      align-items: center;
      justify-content: space-between;
    }
  
    .language {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: row;
      margin-bottom: 33px; 
      cursor: pointer;
    }
  
    .language >select {
      width: 176px;
      height: 40px;
      padding: 0 10%;
      background: #3B3B3B;
      border-radius: 2px;
      color: $uber-white-color;
      text-transform: uppercase;
      text-align: center;
      text-align-last: center;  
      text-transform: uppercase;
      cursor: pointer;
      border: none; 
    }
  
    .language::before {
      content: "";
      position: absolute;
      background: url("./images/icons/world.svg") no-repeat center;
      width: 16px;
      height: 16px;
      top: 10px;
      left: 16px; 
    }
        
    .social  {
      background: url("./images/icons/social.png") no-repeat center;
      width: 92px;
      height: 60px;
      cursor: pointer;
    }
  
    .footer-link {
      display: flex;
      align-items: flex-start ;
      margin-bottom: 23px;
      list-style: none;
    }
  
    .footer-link >a {
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      line-height: 15px;
      text-decoration: none;
      color: $uber-white-color;
    }
  
    .stores {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      border-bottom: 1px solid $uber-footer-line-color;
      width: 100%;
    }
  
    .app-store a {
      display: flex;
      background: url("./images/icons/appStore.png") no-repeat center;
      width: 121px;
      height: 40px;
      margin-right: 40px;
    }
  
    .g-play a {
      display: flex;
      background: url("./images/icons/playmarket.png") no-repeat center;
      width: 135px;
      height: 40px;
    }
  
    &__privacy{
      display: flex;
      justify-content: start;
      align-items: center;
      height: 90px;
    }
  
    .rights,
    .privacy-link,
    .terms {
      display: flex;
      width: 25%;
      flex-grow: 1;
      justify-content: flex-start;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      align-items: flex-end;
      color: $uber-white-color;
    }
  
    .privacy-link,
    .terms {
      text-decoration: none;
    }
}