
.search-box {  
  display: flex;
  width: 948px;
  height: 79px;
  align-items: center;
  margin: auto;
    
    &__search-container::after {
      content: "";
      border-bottom: 1px solid $uber-grey-color;
      width: 100%;
      position: absolute;
      opacity: 0.5;
    }
  
    &__input {  
      display: flex;
      padding-bottom: 5px;
    }
  
    &__search-container {
      width: 100%;
      position: relative; 
    }
  
    .restaurants-search {
      display: flex;
      height: 42px;
      width: 100%;
      padding: 10px 3px 10px 30px;
      font-size: 16px;
      line-height: 24px;
      box-sizing: border-box;
      color: #000000;
      border: none;
      cursor: text;
    }
  
    .restaurants-search::placeholder {
<<<<<<< HEAD
      color: $uber-grey-color;
      opacity: 1; 
=======
      color: #000;
      opacity: 0.5;
>>>>>>> 40dacdb93fda408f6d7f41739e4f6b74803a76b8
    }
  
    .restaurants-search:focus {
      outline: none;
      border: none;
    }
  
    &__search-img {
      position: absolute;
      left: 0px;
      top: 7px;
      width: 25px;
      height: 25px;
      background-image: url("./images/icons/search.svg");
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
    }
}
  