
  /* MOBILE-SEARCH */
  
  .search-box--mobile {
    display: flex;
    justify-content: space-between;
    width: 310px;
    margin: auto;
    font-size: 11px;
    line-height: 13px;
  
    .search-box--mobile__input {  
      display: flex;
      padding-bottom: 5px;
    }
    
    input, 
    select, 
    option {
      outline: none;
      cursor:pointer;
    }
    
    .search-box__asap--mobile {
      display: flex;
      height: 40px;
      font-size: 13px;
      border: 1px solid $uber-grey-color;
      border-radius: 2px;
    }
    
    .search-box__asap--mobile:hover {
      border-radius: 8px;
      border: 1px solid $uber-green-color;
    }
    
    .search-box__delivery-location--mobile {
      display: flex;
      position: relative;
      justify-items: center;
      align-items: center;
    }
    
    .location-img--mobile {
      display: block;
      position: absolute;
      top: 25px;
      left: 10px;
      background-image: url("./images/icons/location.png");
      width: 14px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    
    .address--mobile {
      display: flex;
      align-items: center;
      height: 42px;
      padding: 10px 10px 10px 30px;
      font-size: 13px;
      line-height: 24px;
      border: 1px solid $uber-grey-color;
      box-sizing: border-box;
      border-radius: 2px;
      transition:  0.35s ease;
      color: #000;
      cursor: text;
    }
    
    .address--mobile:hover {
      border-radius: 8px;
      border: 1px solid $uber-green-color;
    }
  }