/* RESOLUTION W: 1025px-2560px */

@media screen and (min-width: 1025px) {
    .search-box--mobile {
      display: none;
    }
    
}


/* RESOLUTION W: 641px-1024px */

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .search-box--mobile {
      display: none;
    }
    
    .header-box,
    .search-box,
    .footer-box,
    .title-box {  
      width: 635px;
    }
  
    .header-box__logo {
      transform: scale(0.9)  
    }
  
    .header-box__logo:hover {
      transform: scale(1) rotate(-1deg);
    }
  
    .delivery-location_address {
      width: 140px;
    }
  
  
    .catalog-box {
      grid-template-columns: repeat(2, 320px);
      grid-column-gap: 1px;
      padding: 0 0 30px;
    }
  
    .footer-box__controls {
      grid-template-columns: repeat(3, 180px);
      grid-column-gap: 48px;
    }
    
    .footer-box__privacy {
      display: grid;
      grid-template-columns: repeat(3, 180px);
      grid-column-gap: 48px;
      white-space: nowrap;
    }
}


/* RESOLUTION W: 319px-640px */

@media screen and (min-width: 319px) and (max-width: 640px) {
    .header-box__location {
      display: none;
    }
    
    .header-box__basket {
      display: none; 
    }
  
    .search-box__del-text-btn {
      display: none;
    }
  
    .header-box,
    .search-box,
    .footer-box,
    .title-box {  
      width: 310px;
    }
  
    .header-box__logo {
      transform: scale(0.9)  
    }
  
    .header-box__logo:hover {
      transform: scale(1) rotate(-1deg);
    }
  
    .catalog-box {
      grid-template-columns: repeat(1, 320px);
      padding: 0 0 10px;
    }
  
    .footer-box {
      padding-bottom: 20px;
    }
  
    .footer-box__controls{
      grid-template-columns: repeat(1, 310px);
      grid-row-gap: 15px;
      }
  
    .social {
      padding-bottom:10px;
    }
  
    .footer-box__privacy {
      display:grid;
      grid-template-rows: repeat(3, 1fr);
      white-space: nowrap;
      padding-bottom: 0px;
    }
  
    .rights,
    .privacy-link,
    .terms  {
      
    line-height: 13px;
    font-size: 11px;
    }
}


/* RESOLUTION W: < 319px */

@media screen and (max-width: 319px) {
    .search-box--mobile {
      display: none;
    }
  
    body {
      width: 948px;
      padding-left: 2px;
    }
  
    .footer-box__controls {
      display: grid;
      grid-template-columns: repeat(3, 304px);
      grid-column-gap: 16px;
    }
}