$uber-green-color: #11933a;
$uber-grey-color: #e0e0e0;
$uber-footer-line-color: #ffffff40; 
$uber-white-color: #fff;
$uber-background-color: #262626;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);  
}

footer {
  padding: 50px 0 0;
  background: $uber-background-color;
}

@import "./scss/header";
@import "./scss/search";
@import "./scss/catalog";
@import "./scss/footer";
@import "./scss/search-mobile";